<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>grievance Addressal.</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="myApp">
        
        Hello world
        <h1>
            grievance Addressal.
        </h1>
        <div class="form-container" ng-controller="formController as fc">
    <form action="" novalidate>
       <label for="tweetSearch">
       <input type="text" id= "tweetSearch" required="required" ng-model="fc.tweetSearchInput"></label>
        
        <button id="extractTweets" ng-modal="fc.tweetCountButton" ng-click="fc.getTweets();">Get {{fc.tweetCountButton}} Tweets</button>

        <ul>
            <li></li>
        </ul>
    </form>
    </div>

        <!--script file here -->
        <!--<script type="text/javascript" src="tweetStream.js"></script>-->
        <script src="js/angular.min.js"></script>
        <script src="js/script.js"></script>
        <!--script file here -->
    </body>
</html>
